$width: 28rem;
$height: 56rem;

$color-write: #ffffff;
$color-main: #2590c2;
$color-light-main: #69cbe9;
$color-gray: #dddddd;
$color-light-gray: #eeeeee;
$color-default: #666666;
$box-shadow: #aaaaaa;
$color-message-bg: #5fb878;
$color-box-bg: #f8f8f8;


$small-size: 1.2rem;
$default-size: 1.4rem;
$large-size: 1.6rem;
$x-large-size: 1.8rem;
